.body-generico {
  width: 100%;
  height: 100vh;
  background-image: url('/assets/fondo_generico.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000000;
}

.body-pasteleria {
  width: 100%;
  height: 100vh;
  background-image: url('/assets/fondo_pasteleria.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000000;
}

.body-cafeteria {
  width: 100%;
  height: 100vh;
  background-image: url('/assets/fondo_cafeteria.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000000;
}

.imagen-generico {
  max-width: 550px;
  /* bottom: -10px; */
  /* rotate: 30; */
}

.imagen {
  width: 600px;
  height: 600px;
  /* bottom: -10px; */
  rotate: 30;
}

/* Description */

.descripcionGenerico {
  font-family: 'Montserrat', sans-serif;
}

.descripcionPasteleria {
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Dancing Script', cursive;
}

.descripcionCafeteria {
  font-family: 'Montserrat', sans-serif;
}

/* Comentarios */

.comentariosGenerico {
  font-family: 'Montserrat', sans-serif;
  max-width: 700px;
}

.comentariosPasteleria {
  font-family: 'Montserrat', sans-serif;
  max-width: 700px;
}

.comentariosCafeteria {
  font-family: 'Montserrat', sans-serif;
  max-width: 700px;
}

/* Price */

.precioGenerico {
  bottom: -70px;
  font-family: 'Montserrat', sans-serif;
}

.precioPasteleria {
  bottom: -70px;
  font-family: 'Dancing Script', cursive;
}

.precioCafeteria {
  bottom: -70px;
  font-family: 'Montserrat', sans-serif;
}

/* No te lo podes perder */
.frase1 { 
  top: -100px;
  width: 1000px;
}

/* Pura dulzura */
.frase2 {
  top: -100px;
  width: 3000px;
  left: -250px;
}

/* Compartilo con amigos */
.frase3 {
  top: -100px;
  width: 1000px;
  right: -300px;
}

/* Comenza con energia */
.frase4 {
  top: -200px;
  width: 1000px;
  right: -300px;
}

/* Una delicia */
.frase5 {
  top: -200px;
  width: 1000px;
  left: 100px;
}

/* El sabor de lo natural */
.frase6 {
  top: -180px;
  width: 1000px;
  left: -100px;
}

/* Para 800px */  
@media only screen and (max-width: 1600px) and (min-width: 1000px) {  

  .imagen {
    width: 400px;
    height: 400px;
  }

}